.product {
  display: flex;
  flex-direction: column;
  background-color: var(--tg-theme-bg-color);
  border-radius: 15px;
  padding: 15px;
  width: 170px;
  align-items: center;
  justify-content: space-between;
  row-gap: 1rem;
}

.imgStyle {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-color: azure;
}

.description {
  font-size: 0.8em;
  text-align: center;

  color: var(--tg-theme-hint-color);
}

.title {
  text-align: center;
  font-weight: bold;
  color: var(--tg-theme-text-color);
}

.price {
  text-align: center;
  color: var(--tg-theme-text-color);
}

.add-btn {
  width: 100%;
}
