.product {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--tg-theme-button-color);
  border-radius: 20%;
  padding: 15px;
  width: 170px;
  align-items: center;
  justify-content: space-between;
}

.img {
  width: 100%;
  background: lightgray;
  height: 100px;
  margin: 0 auto;
  background: var(--tg-theme-button-color);
}

.description {
  font-size: 0.8em;
  text-align: center;
}

.title {
  text-align: center;
  font-weight: bold;
}

.add-btn {
  width: 100%;
}
