.product {
  display: flex;
  flex-direction: column;
  background-color: var(--tg-theme-bg-color);
  border-radius: 15px;
  padding: 15px;
  width: 170px;
  align-items: center;
  justify-content: space-between;
  row-gap: 1rem;
}

.stock {
  font-size: 0.6em;
  text-align: center;

  color: var(--tg-theme-hint-color);
}

.title {
  text-align: center;
  font-weight: bold;
  color: var(--tg-theme-text-color);
}

.price {
  text-align: center;
  color: var(--tg-theme-text-color);
}

.add-btn {
  width: 100%;
}
